@charset "utf-8";
body{
	background-color: #333;
	color:#fff;
}

h2 {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	color:#819EFF;
	margin: 0.5em 16px;
	border-bottom: 5px solid #aaa;
	font-size: 125%;
}

.thumbnail {
	margin: 0.5em 16px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.thumbnail li {
	margin: 0 8px 8px 0;
	padding: 4px;
	border: 5px solid #eeeeee;
	float: left;
	width: 133px;
}

.thumbnail li img {
	vertical-align: bottom;
}


a {
	color: #FF81AE;
}